@using evdeneveturkiye.CompanyParams;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Metropol Express Evden Eve, Şehirler Arası Nakliyat Hizmeti">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <meta name="keywords" content="@(CompanyParams.MetaTags)">
    <meta name="author" content="@(CompanyParams.CompanyName)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @RenderSection("Title", required: false)
    
    @section Title{
        <title>
            Metropol Express || Metropol Express Evden Eve Taşımacılık
        </title>
    }
    <link rel="icon" href="favicon.ico" sizes="20x20" type="image/png">

    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/flaticon.css">

    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>

    <div class="body-overlay" id="body-overlay"></div>
    <div class="header-style-01">
        <div class="topbar-area style-01">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="topbar-inner">
                            <div class="left-contnet">
                                <ul class="info-items">
                                    <li><a href="tel:@CompanyParams.PhoneIntagrated"><i class="flaticon-phone"></i> @CompanyParams.Phone</a></li>
                                    <li><a href="tel:@CompanyParams.Phone2Intagrated"><i class="flaticon-phone"></i> @CompanyParams.Phone2</a></li>
                                    <li><a href="tel:@CompanyParams.Phone3Intagrated"><i class="flaticon-phone"></i> @CompanyParams.Phone3</a></li>
                                    <li><a href="/cdn-cgi/l/email-protection#2e474048416e6f5a5a415c49434f4742004d4143"><i class="flaticon-mail"></i> <span class="__cf_email__" data-cfemail="f29b9c949db2b386869d80959f939b9edc919d9f">@CompanyParams.Email</span></a></li>
                                    <li>
                                        <a href="/cdn-cgi/l/email-protection#4f262129200f0e3b3b203d28222e2623612c2022">
                                            <i class="flaticon-map"></i> 
                                            İstanbul
                                            Ankara
                                            İzmir
                                            Bursa
                                            Antalya
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-contnet">
                                <div class="social-link">
                                    <ul>
                                        <li><a href="@CompanyParams.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="@CompanyParams.Instagram"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="@CompanyParams.Twitter"><i class="fab fa-twitter"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       @* <nav class="navbar navbar-area has-topbar navbar-expand-lg nav-style-02">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <div class="logo-wrapper">
                        <a href="/" class="logo">
                            <img src="~/assets/img/metropol-expres-ana-logo.png" alt="metropol-express-ana-logo">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_smain_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                    <ul class="navbar-nav">
                        <li >
                            <a href="/">Metropol Express</a>
                        </li>
                        <li><a href="hakkimizda">Hakkımızda</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Hizmetler</a>
                            <ul class="sub-menu">
                                <li><a href="/asansorlu-tasima">Asansörlü Taşıma</a></li>
                                <li><a href="/esya-depolama">Esya Depolama</a></li>
                                <li><a href="/evden-eve-tasima">Evden Eve Taşıma</a></li>
                                <li><a href="/kurumsal-tasima">Kurumsal Taşıma</a></li>
                                <li><a href="/ozel-ambalajlama-ve-paketleme">Özel Ambalajlama Ve Paketleme</a></li>
                            </ul>
                        </li>
                        <li >
                            <a href="/galeri">Galeri</a>
                        </li>
                        <li><a href="/iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
        <nav class="navbar navbar-area has-topbar navbar-expand-lg nav-style-02">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <div class="logo-wrapper">
                        <a href="/" class="logo">
                            <img src="assets/img/metropol-expres-ana-logo.png" alt="">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/">Metropol Express</a>
                        </li>
                        <li><a href="hakkimizda">Hakkımızda</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Hizmetler</a>
                            <ul class="sub-menu">
                                <li><a href="/asansorlu-tasima">Asansörlü Taşıma</a></li>
                                <li><a href="/esya-depolama">Esya Depolama</a></li>
                                <li><a href="/evden-eve-tasima">Evden Eve Taşıma</a></li>
                                <li><a href="/kurumsal-tasima">Kurumsal Taşıma</a></li>
                                <li><a href="/ozel-ambalajlama-ve-paketleme">Özel Ambalajlama Ve Paketleme</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/galeri">Galeri</a>
                        </li>
                        <li><a href="/iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
              
            </div>
        </nav>
@RenderBody()

        <div class="call-to-action-area bg-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="call-to-action-inner bg-image">
                            <div class="icon">
                                <i class="flaticon-phone"></i>
                            </div>
                            <div class="content">
                                <h2 class="title">İletişim Numaramız:</h2>
                                <span class="subtitle">@CompanyParams.Phone</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer-area">
            <div class="footer-top padding-top-115 padding-bottom-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget widget">
                                <div class="about_us_widget">
                                    <a href="/" class="footer-logo"> <img src="~/assets/img/metropol-expres-ana-logo.png" alt="metropol-expres-ana-logo"></a>
                                    <p>
                                        Bir Çeyrek Asırlık Hikayemiz: Nakliyatın İncelikleriyle Dokunan Yolculuk
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget widget widget_nav_menu">
                                <h4 class="widget-title">Hizmetlerimiz</h4>
                                <ul>
                                        <li><a href="/asansorlu-tasima">Asansörlü Taşıma</a></li>
                                        <li><a href="/esya-depolama">Esya Depolama</a></li>
                                        <li><a href="/evden-eve-tasima">Evden Eve Taşıma</a></li>
                                        <li><a href="/kurumsal-tasima">Kurumsal Taşıma</a></li>
                                        <li><a href="/ozel-ambalajlama-ve-paketleme">Özel Ambalajlama Ve Paketleme</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget widget widget_nav_menu">
                                <h4 class="widget-title">Hızlı Ulaşım</h4>
                                <ul>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/galeri">Galeri</a></li>
                                    <li><a href="/iletisim">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget widget ">
                                <h4 class="widget-title">İletişime Geçin</h4>
                                <ul class="contact_info_list">
                                    <li class="single-info-item">
                                        <div class="details">
                                            @CompanyParams.Address
                                        </div>
                                    </li>
                                    <li class="single-info-item">
                                        <div class="details">
                                            <a href="tel:@CompanyParams.PhoneIntagrated"> @CompanyParams.Phone</a>
                                        </div>
                                    </li>
                                    <li class="single-info-item">
                                        <div class="details">
                                            <a href="tel:@CompanyParams.Phone2Intagrated"> @CompanyParams.Phone2</a>
                                        </div>
                                    </li>
                                    <li class="single-info-item">
                                        <div class="details">
                                            <a href="tel:@CompanyParams.Phone3Intagrated"> @CompanyParams.Phone3</a>
                                        </div>
                                    </li>
                                    <li class="single-info-item">
                                        <div class="details">
                                            <a href="mailto:@CompanyParams.Email">@CompanyParams.Email</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-area-inner">
                                &copy; Copyright 2023 @CompanyParams.CompanyName Tüm hakları Saklıdır
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="back-to-top">
            <span class="back-top"><i class="fa fa-angle-up"></i></span>
        </div>
        <a class="btn btn-success whatsapp-btn" target="_blank" href="@CompanyParams.WhatsAppIntagrated"> <span>Whats App</span></a>

        <div class="preloader" id="preloader">
            <div class="preloader-inner">
                <div class="cancel-preloader">
                    <a href="#">Cancel Preloader</a>
                </div>
                <div class="TruckLoader">
                    <div class="TruckLoader-cab"></div>
                    <div class="TruckLoader-smoke"></div>
                </div>
                <hr>
            </div>
        </div>
        <div style="display:none;">
            <p>@CompanyParams.SeoTags</p>
        </div>

        
        <script src="~/assets/js/jquery-2.2.4.min.js"></script>

        <script src="~/assets/js/popper.min.js"></script>

        <script src="~/assets/js/bootstrap.min.js"></script>

        <script src="~/assets/js/jquery.magnific-popup.js"></script>

        <script src="~/assets/js/wow.min.js"></script>

        <script src="~/assets/js/owl.carousel.min.js"></script>

        <script src="~/assets/js/waypoints.min.js"></script>

        <script src="~/assets/js/jquery.counterup.min.js"></script>

        <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>

        <script src="~/assets/js/isotope.pkgd.min.js"></script>

        <script src="~/assets/js/main.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
    </body>
</html>